[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IrynaPavlyk
[access "refs/for/refs/*"]
	read = group user/IrynaPavlyk
	push = group user/IrynaPavlyk
	label-Code-Review = -2..+2 group user/IrynaPavlyk
	label-Verified = -1..+1 group user/IrynaPavlyk
	rebase = group user/IrynaPavlyk
	removeReviewer = group user/IrynaPavlyk
	submit = group user/IrynaPavlyk
[access "refs/heads/*"]
	read = group user/IrynaPavlyk
	create = group user/IrynaPavlyk
	push = +force group user/IrynaPavlyk
	pushMerge = group user/IrynaPavlyk
[access "refs/tags/*"]
	push = group user/IrynaPavlyk
	push = +force group user/IrynaPavlyk
